// color
@primary-color: #2d8cf0;
@info-color: #2db7f5;
@warning-color: #ffad33;
@error-color: #ed4318;
@success-color: #19be6b;
@white: #fff;
@black: #000;

// base
@text-color: #515a6e;

// border-color
@border-color-base: #dcdee2;
@border-color-active: #2b85e4;
@border-radius: 4px;

